*{
    margin: 2px;
    padding: 0px;
}
.header{
color: white;
background:black;
padding:2.5px;
text-align: center;


}
li,ul,h1{
    display: inline-block;
    padding: 10px;
    padding-bottom: 5px;

    
}

li{
    color: rgb(224, 228, 163);
    cursor: pointer;
}
li:hover{
    color: rgb(255, 255, 253);
}
ul{
    margin-left: 60%;
}
.search{
   margin-top: 25px;
   
}
input{
    width:50%;
    padding:10px;
}

nav{
    display: inline-block;
    
   
    
}
nav{
    border-color: black;
    border-width: 2px;
    border-style: solid;
   padding:10px;
    width: 210px;
    margin: 20px;
    margin-top: 45px;
}
img{
    width: 210px;
    height: 210px;
    
}
nav:hover{
    
    background:blanchedalmond;
}
a:hover{
    color: black;
}
p{
    padding: 10px;
    margin-top: 10px;
    text-align: left;
}
.about{
    color: white;
    background: black;
    display: inline-block;
    
    
}

    

