.title {
    display: flex;
    background: black;
    height: 70px;
    color: white;
    position: relative;
    justify-content: flex-end;


}

h1,
ul,
.Pli {
    display: flex;
    margin: 10px;

}


.Pli {
    color: yellow;
}

li:hover {
    color: gray;
    cursor: pointer;
}

.Perfumy {
    position: absolute;
    left: 5px;
}

.search {
    margin: 20px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    
}

input {
    width: 700px;
    padding: 10px;
    
}

.product {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;



}

img {
    width: 200px;
    height: 200px;
    margin: 20px;
    margin-top: 30px;



}

.img1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    margin: 10px;
    margin-top: 20px;
    text-align: center;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

.img1:hover {
    background: blanchedalmond;
    color: blueviolet;
    cursor: pointer;
}

.aboutus {
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

.about p {
    margin-top: 30px;
}

.contact ul {
    display: flex;
    flex-direction: column;


}

.contact {

    background: #000;
    color: white;
    width: fit-content;

}

.contact ul .cli {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-bottom: 5px;
}

.cp {
    padding: 10px;
    color: gainsboro;
}
.icon img{
    width: 50px;
    height:50px;
    position: fixed;
}
.icon{
    display: flex;
    justify-content:flex-end;
    
    
}
@media screen and (max-width:1008px) {
    *{
        flex-basis:50%;
    }
}
@media screen and (max-width:640px) {
    *{
        flex-basis:25%;
    }
}
@media screen and (max-width:440px) {
    *{
        flex-basis:13%;
    }
}
