* {
    margin: 0px;
    padding: 0px;
}

body {
   font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400(bold);
  line-height: 1.6;
}


/* animation scroll */
.body div h2,
h3 {
    animation: apper-body 2.5s linear;
}

.skill_page div {
    animation: text-appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 35%;
}

.skill_page h3 {
    animation: text-appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 35%;
}

.about_me div {
    animation: about-appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 35%;
}

.project_page div {
    animation: fadeup linear;
    animation-timeline: view();
    animation-range: entry 0% cover 35%;
}

.project_page h1 {
    animation: fadeup linear;
    animation-timeline: view();
    animation-range: entry 0% cover 35%;
}

@keyframes text-appear {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes about-appear {
    from {
        opacity: 0;
        clip-path: inset(100% 100% 0 0);
    }

    to {
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
}

@keyframes fadeup {
    from {
        opacity: 0;
        scale: 0.5;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

@keyframes apper-body {
    from {
        opacity: 0.9;
        clip-path: inset(0 100% 0 0);
    }

    to {
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
}

/* navbar */
.menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #F5F5F0;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    position: fixed;
    box-sizing: border-box;
    z-index: 10;
}

.menu h2 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

.menu img {
    margin-left: 30px;

}

.icon1 {
    display: none;
}

/* navbar blur */

.menu:hover .icon {
    filter: blur(5px);
    opacity: 0.6;
    transition: filter 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
}


.menu .icon:hover {
    filter: blur(0);
    opacity: 1;
    transform: translateY(-5px) scale(1.2);
}

/* menu popup */
.navbar_popup {
    position: fixed;
    top: 0px;
    left: 0px;
    background: #E6D8C3;
    padding: 20px;
    height: 100vh;
    left: -50%;
    transition: 1.5s;
    z-index: 30;
}

.navbar_popup a {
    text-decoration: none;
}

.navbar_popup p {
    margin-bottom: 40px;
    font-size: 20px;
    transition: 1s;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  color: #1a1a1a;
}

.navbar_popup i {
    margin-left: 90%;
    font-size: 20px;
}

/* blur menu popup */
.navbar_popup:hover p {
    filter: blur(5px);
    opacity: 0.6;
    transition: filter 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
}

.navbar_popup p:hover {
    border: 1px black solid;
    background: #F5F5F0;
    border-radius: 20px;
    transform: scale(1.2);
    text-align: center;
    filter: blur(0);
    opacity: 1;
    transform: translateY(-5px) scale(1.2);
}

.navbar_popup i:hover {
    cursor: pointer;
}

/* phone sizeee */
@media screen and (max-width:1000px) {

    .about_me_box div {
        flex-grow: 1;
        flex-basis: 20% !important;
    }

    .about_me_box {
        gap: 10px !important;
    }

    .about_me .h2 {
        margin-bottom: 20px !important;
    }

    .project_box {
        width: 100% !important;
    }

    .project_page .line {
        display: none;
    }

    .project_box .img {
        padding: 10px !important;
        flex-basis: 100% !important;
    }

}

@media screen and (max-width:700px) {
    .icon1 {
        display: block;
    }

    .icon {
        display: none;
    }

    .about_me_box div {
        flex-grow: 1;
        flex-basis: 100% !important;
        font-size: 75 !important;
    }

    /* about me page */
    .about_me_box {
        gap: 0px !important;
    }

    .about_me .h2 {
        margin-bottom: 20px !important;
        font-size: 20px !important;
    }

    /* body page */
    .body .div2 {
        margin-top: 0px !important;
        width: 70% !important;
        flex-basis: 70% !important;
    }

    .body .div2 h2 {
        font-size: 32px !important;
        margin: 10px !important;
    }

    .body .div2 h3 {
        font-size: 18px !important;
        margin: 10px !important;
    }

    .body .div2 button {
        display: none !important;
    }

    .body .div1 {
        margin-bottom: 5% !important;
    }

    /* skill page */
    .skill_page .head h2 {
        font-size: 32px !important;
    }

    .skill_page .head p,
    h3 {
        font-size: 18px !important;
    }

    .skill_page .layer1 div {

        flex-basis: 100% !important;
    }

    .skill_page .layer1 div h4 {
        font-size: 18px !important;
    }

    .skill_page .layer1 div p {
        font-size: 16px !important;
    }

    .skill_page .layer2 div {
        flex-basis: 100% !important;
    }

    .skill_page .layer2 div h4 {
        font-size: 18px !important;
    }

    .skill_page .layer2 div p {
        font-size: 16px !important;
    }

    /* project page */
    .project_page h1 {
        font-size: 32px !important;
    }

    .project_box {
        width: 100% !important;
    }

    .project_box .text h2 {
        font-size: 18px !important;
    }

    .project_box .text p {
        font-size: 16px !important;
    }

    .project_box .photo img {
        width: 150px !important;
        height: 150px !important;
        transition: 1s;
    }

    /* contact page */
    .contact_body {

        padding: 10px !important;
    }

    .connect div {
        padding: 5px !important;
    }

    .connect {
        padding: 10px !important;
    }
}

@media screen and (max-width:375px) {
    .project_page div {
        animation: fadeup linear;
        animation-timeline: view();
        animation-range: entry 0% cover 15%;
    }

    .project_page h1 {
        animation: fadeup linear;
        animation-timeline: view();
        animation-range: entry 0% cover 15%;
        font-size: 18px !important;
    }

    .project_box .photo img {
        width: 170px !important;
        height: 170px !important;
        padding: 5px;
    }

    .project_box .img {
        flex-direction: column;
        align-items: center;
    }

    .about_me div {
        animation-range: entry 0% cover 25%;
    }
    
}

/* body contain */
.body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10%;
    background: #f5f5f0;
}

.body .div1 {
    /* border: 1px wblack solid; */
    width: fit-content;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 10%;

}

.body .div1 img {
    border-radius: 20%;
}

.body .div2 {
    margin-top: 40px;
    width: 40%;
    flex-basis: 40%;

}

.body .div2 h2 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
    font-size: 48px;
    color: #1a1a1a;
    font-weight: bold(700);
    margin-bottom: 10px;
}

.body .div2 h3 {
   font-family: "Varela Round", sans-serif;
  font-weight: 400;
    font-weight: 400(Regular);
    font-size: 18px;
    color: #4a4a4a;
    word-spacing: 1.6;
}

.body button {
    padding: 10px;
    border-radius: 10px;
    margin-top: 30px;
    background: #E6D8C3;
    transition: 0.5s;
}

button:hover {
    cursor: pointer;
}

/* curse poinyer */
.body button:hover {
    background: #F5F5F0;
}

/* about me page */
.about_me {
    width: fit-content;
    animation-name: appear;
    background: #e6d8c3;
    padding: 30px;
    text-align: center;
}

.about_me .h2 {
    margin-bottom: 40px;
    font-size: 42px;
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    color: #1a1a1a;
}

/* about me box */
.about_me_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
}
.about_me_box div {
    margin: 10px;
    border-radius: 24px;
    padding: 20px;
    flex-basis: 40%;
    text-align: center;
    background: #C2A68C;

}
 .about_me .second2{
    background: #5D866C;
}
 .about_me .fouth4{
    background: #5D866C;
}

.about_me_box div h2 {
    border-bottom: 1px black solid;
    margin-bottom: 15px;
   font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
    font-size: 20px;
    font-weight: 600(Semi-bold);
    color: #4a4a4a;
    line-height: 1.6;

}

/* hoverr change when mouse over */
.about_me_box .first1:hover {
  box-shadow: #00000038 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    cursor: grab;
    background: #5D866C;
    color: #f5f5f0;
    transition: 0.7s;
    transform: rotateX(11deg);
}

.about_me_box .third3:hover {
   box-shadow: #00000044 0px 14px 28px, #00000038 0px 10px 10px;
    cursor: grab;
    background: #5D866C;
    color: #f5f5f0;
    transition: 0.7s;
    transform: rotateX(11deg);
}
.about_me_box .second2:hover {
    box-shadow: #2D3250 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    cursor: grab;
    background: #C2A68C;
    color: #f5f5f0;
    transition: 0.7s;
    transform: rotateX(11deg);
}

.about_me_box .fouth4:hover {
   box-shadow: #2D3250 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    cursor: grab;
    background: #C2A68C;
    color: #f5f5f0;
    transition: 0.7s;
    transform: rotateX(11deg);
}
/* skills pages */

.skill_page {
    background: #F5F5F0;
    animation-name: appear;
}

.skill_page .head {
    text-align: center;
    padding: 20px;
    font-size: 30px;
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
}

.head p {
    font-size: 25px;
}

.skill_page h3 {
    text-align: center;
    margin: 20px;
   font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
    font-weight: 700(bold);
    size: 14px;
    color: #5D866C;

}

.skill_page h4 {
    margin-bottom: 20px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    size: 18px;

}

.skill_page .layer1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.skill_page .layer1 div {
    background: #e6d8c3;
    flex-basis: 40%;
    padding: 30px;
    border-radius: 24px;
    margin: 10px;
}

.skill_page .layer2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.skill_page .layer2 div {
    background: #e6d8c3;
    flex-basis: 25%;
    padding: 30px;
    border-radius: 24px;
    margin: 10px;
}

/* hover effect */
.skill_page .layer1 div:hover {
    background: #C2A68C;
    color: #f5f5f0;
    transition: 0.5s;
    cursor: grab;
box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.skill_page .layer2 div:hover {
    background: #C2A68C;
    color: #f5f5f0;
    transition: 0.5s;
    cursor: grab;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

/* project page */
.project_page {
    background: #E6D8C3;
    width: 100%;
    position: relative;
}

.project_page h1 {
    padding: 30px;
    text-align: center;
    padding-bottom: 30px;
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-size: 48px;
}

.project_box {
    display: flex;
    gap: 40px;
    width: 90%;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
    gap: 40px;
}

.project_box .img h2 {
    margin-bottom: 10px;
    font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}

.project_box .img {
    width: 40%;
    padding: 20px;
    text-align: start;
    border-radius: 20px;
    flex-basis: 40%;
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.project_box .photo img {
    border-radius: 24px;
}

/* hover effect */
.project_box .img:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: .5s;
    transform: rotateX(10deg);
    background: #f5f5f0;
    cursor: grab;
}

.project_page .line {
    width: 2px;
    height: 85%;
    background: #F5F5F0;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    z-index: 5;
}

/* .certificate_page */
.certificate_page {
    background: #f5f5f0;
    text-align: center;
    padding: 20px;
}
.certificate_page h2{
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-size: 48px;
}

.certificate_page .cover {
    margin: 100px auto;
    display: flex;
    overflow-x: auto;
}

.cover::-webkit-scrollbar {
    display: none;
}

.certificate_page .group {
    display: flex;
    justify-content: center;
    gap: 1em;

}

.card {
    flex: 0 0 5em;
    height: fit-content;
    width: fit-content;
    padding: 1em;
    background: #5D866C;
    text-align: center;
    align-items: center;
    animation: scroll 7s infinite linear;
}

.card img {
    width: 400px;
    height: 300px;
    transition: 1s;
}

/* hover for card */
.card img:hover {
    cursor: -webkit-grab;
    transform: scale(1.1);
}

.card :hover {
    padding: 1.3em;
}

@keyframes scroll {
    from {
        translate: 0;
    }

    to {
        translate: -300%;
    }

}

/* contact page */
.contact_page {
    background: #C2A68C;
}

.connect div img {
    float: left;
}

.contact_body {

    padding: 20px;
}
.contact_body h2{
     font-family: "Neuton", serif;
  font-weight: 400;
  font-size: 48px;
}
.contact_body P{
    font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
}
.contact_body h2,
.contact_p {
    text-align: center;
    margin-bottom: 20px;
}

.connect {
    padding: 20px;
}

.connect h3,
.connect_p {
    padding-bottom: 10px;
    text-align: center;
    text-indent: 0px;
}

.connect div {
    padding: 10px;

}

.connect_box {
    width: fit-content;
    height: fit-content;
    margin: auto;
}

/* footer page */
.footer {
    text-align: center;
    padding: 20px;
    background: #5D866C;
}

.footer img,
p {
    margin-bottom: 20px;
}

.footer img {
    margin: 10px;
}

/* blur */
.footer div:hover img {
    filter: blur(5px);
    opacity: 0.6;
    transition: filter 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
}


.footer div img:hover {
    filter: blur(0);
    opacity: 1;
    transform: translateY(-5px) scale(1.2);
    cursor: pointer;
    transform: rotateY(360deg);
}