* {
    margin: 0px;
    padding: 0px;
}
/* animation scroll */

.skill_page div{
    animation: text-appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
.skill_page h3{
    animation: text-appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
.about_me div{
  animation: about-appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
.project_page div{
    animation: fadeup linear;
    animation-timeline: view();
    animation-range:entry 0% cover 40%;
}
.project_page h1{
    animation: fadeup linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
@keyframes text-appear {
    from{
        opacity: 0;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes about-appear {
    from{
        opacity: 0;
        clip-path: inset(100% 100% 0 0);
    }
    to{
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
}
@keyframes fadeup {
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
/* navbar */
.menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #F5F5F0;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    position: fixed;
    box-sizing: border-box;
    z-index: 10;
}

.menu img {
    margin-left: 30px;

}

.icon1 {
    display: none;
}

/* navbar blur */

.menu:hover .icon {
    filter: blur(5px);
    opacity: 0.6;
    transition: filter 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
}


.menu .icon:hover {
    filter: blur(0);
    opacity: 1;
    transform: translateY(-5px) scale(1.2);
}

/* menu popup */
.navbar_popup {
    position: fixed;
    top: 0px;
    left: 0px;
    background: #E6D8C3;
    padding: 20px;
    height: 100vh;
    left: -50%;
    transition: 1.5s;
    z-index: 30;
}

.navbar_popup a {
    text-decoration: none;
}

.navbar_popup p {
    margin-bottom: 40px;
    font-size: 20px;
    transition: 1s;
}

.navbar_popup i {
    margin-left: 90%;
    font-size: 20px;
}

/* blur menu popup */
.navbar_popup:hover p {
    filter: blur(5px);
    opacity: 0.6;
    transition: filter 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
}

.navbar_popup p:hover {
    border: 1px black solid;
    background: #F5F5F0;
    border-radius: 20px;
    transform: scale(1.2);
    text-align: center;
    filter: blur(0);
    opacity: 1;
    transform: translateY(-5px) scale(1.2);
}

.navbar_popup i:hover {
    cursor: pointer;
}

/* phone sizeee */
@media screen and (max-width:1000px) {

    .about_me_box div {
        flex-grow: 1;
        flex-basis: 20% !important;
    }

    .about_me_box {
        gap: 10px !important;
    }

    .about_me .h2 {
        margin-bottom: 20px !important;
    }
    .project_box{
    width: 80%!important;
    }

}

@media screen and (max-width:700px) {
    .icon1 {
        display: block;
    }

    .icon {
        display: none;
    }

    .about_me_box div {
        flex-grow: 1;
        flex-basis: 100% !important;
    }

    .about_me_box {
        gap: 0px !important;
    }

    .about_me .h2 {
        margin-bottom: 20px !important;
    }
    .body .div2 {
    margin-top: 0px!important;
    width: 70%!important;
    flex-basis: 70%!important;
    }
    .body .div1 {
    margin-bottom: 5%!important;
    }
    .skill_page .layer1 div{

    flex-basis: 100%!important;
    }
    .skill_page .layer2 div{
    flex-basis: 100%!important;
    }
    .project_box{
    width: 100%!important;
    }
    .project_box .img{
        flex-basis: 40%!important;
        margin: 10px;
    }
    .project_box .text{
        flex-basis: 40%!important;
        margin: 10px;
    }

}

/* body contain */
.body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10%;
    background: #f5f5f0;
}

.body .div1 {
    /* border: 1px wblack solid; */
    width: fit-content;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 10%;

}

.body .div1 img {
    border-radius: 20%;
}

.body .div2 {
    margin-top: 40px;
    width: 40%;
    flex-basis: 40%;

}

.body button {
    padding: 10px;
    border-radius: 10px;
    margin-top: 30px;
    background: #E6D8C3;
    transition: 0.5s;
}

button:hover {
    cursor: pointer;
}

/* curse poinyer */
.body button:hover {
    background: #F5F5F0;
}

/* about me page */
.about_me {
    width: fit-content;
    animation-name: appear;   
    background: #e6d8c3;
    padding: 30px;
    text-align: center;
}

.about_me .h2 {
    margin-bottom: 40px;
    font-size: 30px;
}

/* about me box */
.about_me_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
}

.about_me_box div {
    margin: 10px;
    border-radius: 20px;
    padding: 20px;
    border: 1px black solid;
    flex-basis: 40%;
    text-align: center;
}

.about_me_box div h2 {
    border-bottom: 1px black solid;
    margin-bottom: 15px;
}

/* hoverr change when mouse over */
.about_me_box div:hover {
    box-shadow: #C2A68C 0px 22px 70px 4px;
    cursor: grab;
    transition: 0.5s;
}

/* skills pages */

.skill_page{
    background: #F5F5F0;
     animation-name: appear;   
}
.skill_page .head{
    text-align: center;
    padding: 20px;
}
.skill_page h3{
    text-align: center;
    margin: 20px;
}
.skill_page h4{
    margin-bottom:20px ;
    text-align:center;
}
.skill_page .layer1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.skill_page .layer1 div{
    border: 2px black solid;
    flex-basis: 40%;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
}
.skill_page .layer2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.skill_page .layer2 div{
    border: 2px black solid;
    flex-basis: 25%;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
}

/* project page */
.project_page{
    background: #E6D8C3;
    width: 100%;
   position: relative;
}
.project_page h1{
    padding: 30px;
    text-align: center;
    padding-bottom: 30px;

}
.project_box{
    display: flex;
    gap: 40px;
    width: 60%;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
    gap: 40px;
}
.project_box .img{
    width: 40%;
    border: 1px black solid;
    padding: 20px;
    text-align: start;
    border-radius: 20px;
    flex-basis: 40%;
}
.project_box .text{
    width: 60%;
    flex-basis: 40%;   
}
.project_page .line{
    width: 2px; 
    height: 85%;
    background: #F5F5F0;
     border-radius: 20px;
     position: absolute;
    left: 50%;
     z-index: 5;
}
 /* .certificate_page */
.certificate_page{
     background: #C2A68C;
    text-align: center;
    padding: 20px;
}
.certificate_page .cover{
    margin: 100px auto;
    border: 1px solid red;
    display: flex;
    overflow-x: auto;
}
.cover::-webkit-scrollbar{
    display: none;
}
.certificate_page .group{
    display: flex;
    justify-content: center;
    gap: 1em;
}
.card{
    flex: 0 0 5em;
    height: fit-content;
    width: fit-content;
    padding: 1em;
    background: #5D866C;
    text-align: center;
    align-items: center;
    animation:scroll 7s infinite linear;
}
.card img{
    width: 400px;
    height: 300px;
}
@keyframes scroll {
    from{
        translate: 0;
    }
    to{
        translate: -300%;
    }
    
}
