h1 {
    font-family: "Praise", cursive;
    font-weight: 400;
    font-style: normal;
    color: #2d9b8b;
    text-align: center;
    font-size: 3rem;

}

.box {
    display: grid;
    grid-template-columns: auto auto;
    width: auto;
    height: 720px;

}

.boxright {
    background: whitesmoke;
    position: relative;


}

.boxleft {
    background: mediumaquamarine;
    

}

.pc {
    position: absolute;
    right: -270px;
    width: 600px;
    height: 500px;
    z-index: 2;
    top: 200px;
}

.lamp {
    position: absolute;
    height: 30%;
    width: 30%;
    right: 00px;
    top: -40px;
}

.lamp:hover {
    cursor: pointer;

    .boxright {
        background: rgb(29, 28, 28);
    }
}


.headline {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 10px;


}

.head {
    margin: 10px;
    right: 0px;
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
}



.home {
    width: 700px;
    height: 400px;
    margin: auto;
    margin-top: 50px;
    padding-left: 100px;
}

.homehi {
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: small;
    text-indent: 30px;
    color: rgb(88, 88, 88);
    margin-left: 60px;

}

.homeme {
    font-family: "Kavoon", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    margin-left: 60px;
    color: rgb(4, 101, 106);

}

.head:hover {
    cursor: pointer;
    text-decoration: underline;
}

@media screen and (max-width:1018px) {
   .home{
    width:600px;
   }
   .head{
    font-size: 15px;
   }
   h1{
    font-size: 2rem;
   }
   .lamp{
    width: 25%;
    height: 25%;
   }
   .pc{
    width: 530px;
    height: 430px;
    right:-250px;
   }
   .homeme{
    font-size: 25px;
   }
}
@media screen and (max-width:840px) {
   .boxright{
    display: none;
   }
   .home{
    margin: 0px;
    padding-left: 0px;
    width: 800px;
   
   }
   .boxleft{
    width: 820px;
    background: beige;
   }
   .homeme{
    font-size: 23px;
   }
}
@media screen and (max-width:540px) {
   .home{
    width: auto;
   }
}
@media screen and (max-width:360px) {
   .home{
    width: auto;
   }
   .homeme{
    font-size: 18px;
   }

}