
* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* navbar */
.navbar{
    height:fit-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.navbar h1{
    margin: 10px;
}
/* .navbar_links */
.navbar_links{
    display: flex;
    padding: 10px;
    column-gap: 10px;   
}
.navbar_links a{
    color: #1d232C;
    text-decoration: none;
}
.navbar_links a:hover{
    text-decoration: underline;
    color: #1d232C;
}
/* navbar_menu */
.navbar_menu{
    padding: 10px;
    display: none;
}
/* mobile size */
@media screen and (max-width:700px) {
    .navbar_menu{
        display: block;
    }
    .navbar_links{
        display: none;
    }
    .header_img{
        display: none;
    }
    .ser_box{
        flex-direction: column;
    }
   .ser_right{
        display: none!important;
    }
}
/* .menu_popup */
.menu_popup{
    position: fixed;
    left: -50%;
    top: 0px;
    width:fit-content;
    background: #1d232C;
    height: 100%;
    padding: 10px;
    padding-right: 20%;
   transition: 2s;
   z-index: 3;
}
.menu_popup a{
    text-decoration: none;
    margin: 10px;
    color: white;
}
.menu_popup p{
    margin-bottom: 40px;
    margin-top: 30px;
}
.menu_popup i{
    position: fixed;
    color: white;
    left: 33%;
    top: 2%;
 
}
/* header */
.header{
    display: flex;
    justify-content:center;
    padding-top: 5%;
}
.show_now{
    width: 40%;
    height: fit-content;
    
}
.show_now button{
    padding: 10px;
    margin-top: 10px;
    background: #000;
    color: white;
}
.header_img{
    width: fit-content;
    height: fit-content;
}
/* service-header */
.ser_right{
    
    display: flex;
    justify-content: space-between;
    padding-top: 7%;
    padding-left: 1%;
    padding-right: 1%;
}
.ser_right h2{
    width: 30%;
   
}
/* .service box */
.ser_box{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    gap: 10px;
}
.ser_box nav{
    width: fit-content;
    padding: 10px;
    background: rgb(194, 191, 191);
    border-radius: 10px;
    margin-top: 10px;
}
/* new arrival */
.arrival h3{
    text-indent: 40px;
    margin: 10px;
}
.new_arrival{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.arrival_img{
    flex-basis: 20%;
    position: relative;
}
.arrival_img button{
    border: none;
    background: white;
    padding: 10px;
    padding-right: 20px;
    position: relative;
    bottom: 40%;
    left: 10%;
    border-radius: 10px;
    
}
/* member news */
.news{
    text-align: center;
}
.news div{
    width: 70%;
    height:40px;
    margin: 10px;
    border: 3px black solid;
}
.news div input{
    width: 100%;
    height: 100%;
    border: none;
}
.news button{
    padding: 10px;
    background: #000;
    color: white;
    border-radius: 10px;
}

/* footer */
.footer{
    width: 100%;
    margin-top: 20px;
    padding: 30px;
    background: #1d232C;
    color: white;
}
/* cursor to pointer */
button:hover{
    cursor: pointer;
}
 /* #collection */
  /* search bar */
  .search{
    width: 80%;
    border:2px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
  }
  .search input{
    width: 100%;
    padding: 10px;
    border: none;
    background: transparent;
  }
  .search input:focus{
   outline: none;
  }
  /* product page */
  .product{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  .product_box{
    flex-basis: 23%;
    margin-top: 40px;
    text-align: center;
  }
  .product img{
    border-radius: 10px;
  }